In [1]:
import pandas as pd
import numpy as np

In [2]:
link = 'BlackFriday.csv'

In [3]:
data = pd.read_csv(link)
df = pd.DataFrame(data)
df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [4]:
df.info()    # gives basic info about data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537577 entries, 0 to 537576
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     537577 non-null  int64
 1   Product_ID                  537577 non-null  object
 2   Gender                      537577 non-null  object
 3   Age                         537577 non-null  object
 4   Occupation                  537577 non-null  int64
 5   City_Category               537577 non-null  object
 6   Stay_In_Current_City_Years  537577 non-null  object
 7   Marital_Status              537577 non-null  int64
 8   Product_Category_1          537577 non-null  int64
 9   Product_Category_2          370591 non-null  float64
 10  Product_Category_3          164278 non-null  float64
 11  Purchase                    537577 non-null  int64
dtypes: float64(2), int64(5), object(5)
memory usage: 49.2+ MB

In [5]:
#checking for null values
df.isnull().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            166986
Product_Category_3            373299
Purchase                           0
dtype: int64

In [6]:
# deleting the columns for product category 2 and 3 since they 
#have a lot of null values and we still have sufficient info without those two
del df['Product_Category_2']
del df['Product_Category_3']
df.columns

Index(['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category',
       'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1',
       'Purchase'],
      dtype='object')

In [7]:
# finding number of unique users
len(df['User_ID'].unique())

5891

In [30]:
# finding number of unique products
len(df['Product_ID'].unique())

3623

In [35]:
# finding age categories
df['Age'].unique()

array(['0-17', '55+', '26-35', '46-50', '51-55', '36-45', '18-25'],
      dtype=object)

In [36]:
# finding number of occupations, each occupation is represented by a number
len(df['Occupation'].unique())

21

In [37]:
# finding city categories
df['City_Category'].unique()

array(['A', 'C', 'B'], dtype=object)

In [38]:
# how many years customer living in current city categories
df['Stay_In_Current_City_Years'].unique()

array(['2', '4+', '3', '1', '0'], dtype=object)

In [39]:
#total money spent on sale
df['Purchase'].sum()

5017668378

In [100]:
# finding total amout spent by a given user and product ids purchased
d = df.groupby('User_ID')
user_id = 1000001
purchase = 0
print(d.get_group(user_id)['Purchase'].sum())
l = [x for x in d.get_group(user_id)['Product_ID']]
print(l)

333481
['P00069042', 'P00248942', 'P00087842', 'P00085442', 'P00085942', 'P00102642', 'P00110842', 'P00004842', 'P00117942', 'P00258742', 'P00142242', 'P00000142', 'P00297042', 'P00059442', 'P0096542', 'P00184942', 'P00051842', 'P00214842', 'P00165942', 'P00111842', 'P00178242', 'P00178342', 'P00183942', 'P00051442', 'P00248442', 'P00210342', 'P00289942', 'P0097142', 'P00255842', 'P00025442', 'P00074142', 'P00058142', 'P00220642', 'P00064042']

#### Analyzing Gender